* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E1DEE3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*==============================
    Navigation
===============================*/

.main-nav {
    text-align: center;
    background-color: #F8DDA4;
    padding: .2em;
}

.nav-list {
    list-style: none;
    padding: 0;

}
.nav-list li {
     background-color: #524632;
     padding: .5em;
     margin: .2em;
     border-radius: .3em;
}

.main-nav a {
    color: #524632;
    font-size: 1.4em;
    
}

.nav-list  a {
    color: #E1DEE3;
}

.main-nav a {
    text-decoration: none;
}

/*==============================
    Body
===============================*/
 
.row {
    flex-grow: 1;
    padding: 1em;
}
.col {
    background-color: #F8DDA4;
    padding: 1em;
    border-radius: 1em;
    margin: 1.3em;
}

/*==============================
    Footer
===============================*/

footer {
    text-align: center;
    border-top: .3em solid;
    background-color: #fff;
}


/*==============================
    Other Styles
===============================*/
.color {
    color: red;
}

/*==============================
    Media Queries
===============================*/

@media (min-width: 769px)  and (max-width: 1126px) {
    .main-nav {
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        display: flex;
        justify-content: center;
    }

    .row {
        display: flex;
    }
}

@media (min-width: 1125px) {
    .main-nav {
        display: flex;
    }
    .main-nav h3 {
        margin-right: auto;
    }

    .nav-list {
        display: flex;
    }
    .row {
        display: flex;
    }

    .col {
        flex: 1;
    }
    .col-1 {
        flex-grow: 3;
    }


  
}

